.last-posts-title {
    text-align: center;
    font-size: 2rem;
}

.post-card {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2em;
    border: 2px solid var(--light-gray);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post-card:hover {
    transition: all 0.5s ease-out;
    transform: scale(1.03);
}

.post-card img {
    max-width: 350px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.section-text-container {
    margin: 0 1.5em;
    padding-bottom: 1.5em;
}

.section-text-container a {
    text-decoration: none;
    color: var(--darker-gray);
}

.section-text-container h3 {
    text-transform: uppercase;
    font-size: 2rem;
}

.section-text-container h3:hover {
    transition: all 0.3s ease-out;
    color: var(--light-dark-gray);
}

.post-description {
    font-size: 1.3rem;
    text-align: justify;
}

.publish-date {
    font-size: 1rem;
    font-style: italic;
}

.comment {
    border-top: 1px solid var(--light-dark-gray);
    padding-left: 0.5em;
}

.comment-publish-date {
    margin: 0.3em 0 0 0;
    font-style: italic;
}

.author {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0.5em 0 0 0;
}

.author:hover {
    transition: all 1s ease-out;
    color: var(--light-gray);
}

.comment-text {
    font-size: 1.3rem;
    margin: 0.3em 0 0.5em 0;
}

@media only screen and (max-width: 650px) {

    .post-card {
        flex-direction: column-reverse;
        margin-bottom: 2em;
    }

    .post-card img {
        max-width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
    }
}