.section-title {
    padding-left: 1.5em;
}

.contact-channels-container {
    padding-left: 2em;
}

.contact-info-container {
    display: flex;
    align-items: center;
}

.contact-info-container img {
    width: 35px;
    height: 35px;
}

.contact-info-title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--black);
    transition: all .5s;
}

.contact-info-text {
    padding-left: 1em;
    font-size: 1.5em;
    color: var(--black);
    margin: 0.5em 0;
    transition: all .5s;
}

.mail-address-container {
    font-size: 1.5em;
}

span.contact-info-text {
    padding: 0;
}

.contact-info-text:hover {
    color: var(--gray);
}

#contact-form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin: 0.5em 0;
}

.custom-label {
    font-size: 1.5em;
}

.custom-input {
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.5em;
    min-height: 2em;
    border: 1px solid var(--very-dark-gray);
}

.custom-input:focus {
    outline: none;
    border: 1.5px solid var(--dark-gray);
}

.custom-textArea {
    border-radius: 10px;
    font-size: 1.5em;
    padding: 0.5em;
    border: 1px solid var(--very-dark-gray);
}

.textArea:focus {
    outline: none;
    border: 1.5px solid var(--dark-gray);
}

.btn {
    padding: 0.5em 2em;
    margin: 1em 0 0.5em 0;
    color: var(--white);
    font-weight: bold;
    font-size: 1.5em;
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
}

.btn:hover {
    transition: all .3s ease-out;
    background-color: var(--dark-yellow);
}

.btn:active {
    transition: all 1s ease-out;
    background-color: var(--light-yellow);
}


@media only screen and (max-width: 1400px) {

    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 1200px) {

    .container {
        text-align: center;
        width: 90%;
        padding: 0;
    }

    .page-title {
        margin-top: 1em;
    }

    .page-title-border {
        display: none;
    }

    .section-title {
        padding: 0;
    }

    .contact-channels-container {
        padding: 0;
    }

    .content-card-container {
        display: flex;
        flex-direction: column;
    }

    .content-card {
        padding: 0 0 1em 0;
        margin-bottom: 2em;
    }

    .content-card:hover {
        scale: 1.05;
    }

    .contact-info-container {
        justify-content: center;
    }

    .contact-info-text {
        padding-left: 0.3em;
    }

    .custom-input {
        margin: 0 1em;
    }

    .custom-textArea {
        margin: 0 1em;
    }

    .btn {
        margin: 1em;
    }
}

@media only screen and (max-width: 800px) {

    
}