.quote-container {
    margin-top: 6em;
    transition: all ease-out 1s;
}

.quote-container:hover {
    transform: scale(1.05);
}

.quote-container blockquote {
    text-align: center;
}

.quote-container p {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 3em;
    text-align: right;
}

.quote {
    text-align: center;
    font-size: 2rem;
}

.table-container {
    padding-bottom: 6em;
}


.table-title {
    font-size: 2rem;
    text-align: center;
}

.pacotes-vendidos-table {
    width: 70%;
    min-height: 200px;
    border: 2px solid var(--very-dark-gray);
    border-radius: 15px;
    margin: 0 auto;
    padding: 1em 2em;
    text-align: center;
    border-collapse: collapse;
}

.pacotes-vendidos-table td:hover,
.pacotes-vendidos-table th:hover {
    transition: all ease-out 0.3s;
    background-color: var(--light-gray);
    color: var(--white);
}

.pacotes-vendidos-table th,
.pacotes-vendidos-table td {
    border: 1px solid var(--very-dark-gray);
    font-size: 1.4rem;
    padding: 0.5em 1em;
}

.pacotes-vendidos-table td {
    width: 50%;
}

@media only screen and (max-width: 650px) {

    .container {
        padding: 0;
        margin: 0 auto;
        width: 90%;
    }

    .page-title {
        margin: 0.5em 0;
    }

    .content-card {
        text-align: center;
    }

    .content-card:hover {
        scale: 1.05;
    }

    .content-card-container {
        padding-bottom: 0em;
    }

    .quote-container {
        margin: 4em 0 3em 0;
    }

    .table-container {
        padding-bottom: 4em;
    }
}