:root{
    --dark-gray: #aaa;
    --light-dark-gray: #bbb;
    --gray: #ccc;
    --light-gray: #ddd;
    --very-light-gray: #eee;
    --white: #fff;
    --very-dark-gray: #666;
    --darker-gray: #444;
    --yellow: rgb(255, 255, 0);
    --dark-yellow: rgb(236, 236, 40);
    --light-yellow: rgb(255, 255, 127);
    --very-light-yellow: #fff988;
    --black: #000;
    --red: #f00;
    --scrollbar-gray: #e3e3e3;
}

html,
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-gray); 
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: var(--yellow); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--light-yellow); 
}

.title-container {
    position: absolute;
    margin: 0 auto;
    background-color: transparent;
    min-height: 100px;
    top: 40%;
    z-index: 1;
}

.title-container h1 {
    margin: 0;
    padding: 1em;
    color: var(--white);
    text-transform: uppercase;
}

.nav-container {
    width: 100%;
    height: auto;
}

.nav-container nav {
    width: 100%;
    position: fixed;
    background-color: var(--very-dark-gray);
    opacity: 80%;
    z-index: 1;
    animation: 1s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.nav-container nav ul {
    max-width: 750px;
    min-height: 50px;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link,
.nav-link-title,
.footer-link {
    text-decoration: none;
    color: var(--white);
    transition: all .5s;
    margin: 0 1em;
}

.nav-link:hover,
.footer-link:hover {
    color: var(--gray);
}

.nav-link-title {
    display: none;
    text-transform: uppercase;
    font-weight: bold;
}

.search-input {
    padding: 0.5em 1em;
    font-size: 0.9rem;
    border-radius: 13px;
    border: none;
}

.search-input:focus {
    outline-color: var(--yellow);
}

.top-image-container {
    position: relative;
    width: 100%;
    max-height: 450px;
    overflow: hidden;
}

.top-image-container:hover .top-image-animated-text{
    color: var(--white);
    opacity: 100%;
    transition: all 1.5s;
    right: 2.5em;
}

.animated-background {
    height: 450px;
    width: 450px;
    position: absolute;
    top: 0;
    right: -100%;
    width: 450px;
	height: 0;
	border-left: 325px solid transparent;
	border-bottom: 450px solid var(--very-light-yellow);
    transition-property: right;
    transition-duration: 1s;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid var(--red);
  }

.top-image-container:hover .animated-background {
    right: 0;
}

.top-image {
    width: 100%;
    height: 550px;
    opacity: 95%;
    object-fit: cover;
    object-position: center;
    position: relative;
    transition-property: height;
    transition-duration: 1s;
}

.top-image-container:hover .top-image {
    height: 450px;
    transition-delay: 0.4s;
}

.top-image-animated-text {
    position: absolute;
    top: 0.5em;
    right: -5em;
    color: var(--very-light-gray);
    font-size: 4rem;
    font-weight: bold;
    width: 300px;
    text-align: center;
    opacity: 0;
}

.main-content {
    min-height: 750px;
    background: linear-gradient(0deg, rgba(78,78,78,1) 0%, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 9%);
}

.container {
    width: 75%;
    min-height: 300px;
    margin: 0 auto;
    padding: 1em 2em;
}

.page-title-border {
    width: 40%;
    margin-top: 0.5em;
    margin-bottom: 2em;
    border-top: 3px solid var(--light-dark-gray);
    animation: 1.4s ease-out 0s 1 slideInFromLeftPageTitle;
}

@keyframes slideInFromLeftPageTitle {
    0% {
        width: 0;
    }
    100% {
        width: 40%;
    }
}

.page-title {
    display: inline-block;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
    transition: ease-out 1s;
}

.page-title:hover {
    color: var(--very-dark-gray);
    animation: 0.5s ease-out 0s 1 shakeIt;
}

@keyframes shakeIt {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(-1deg);
    }
    50% {
        transform: rotateZ(1deg);
    }
    75% {
        transform: rotateZ(-1deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.content-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}

.content-card {
    padding: 1em 2em;
    background-color: var(--white);
    border: 2px solid var(--light-gray);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 1s;
}

.content-card:hover {
    scale: 1.2;
}

.text-content {
    padding: 0 2em;
    text-align: justify;
}

footer {
    width: 100%;
    min-height: 250px;
    background-color: var(--white);
    padding-top: 0.5em;
    padding-top: 5em;
    margin-bottom: 2em;
}

.footer-top-section {
    display: flex;
    justify-content: center;
}

.footer-info-text {
    color: var(--black);
    margin: 0.5em 0;
    transition: all .5s;
}

.footer-info-text:hover {
    color: var(--gray);
}

.footer-links-container,
.footer-company-info,
.footer-extra-container,
.footer-social-links-container {
    min-width: 150px;
    text-align: center;
    margin: 0 2em;
}

.footer-info-container {
    display: flex;
    justify-content: center;
}

.footer-info-container img {
    margin-right: 1em;
    width: 35px;
    height: 35px;
}

.footer-links-container ul {
    list-style: none;
    padding: 0;
}

.footer-links-container ul li {
    margin: 0.5em 0;
}

.footer-links-title,
.footer-info-title {
    font-weight: bold;
    color: var(--black);
    transition: all .5s;
}

.footer-link {
    color: var(--black);
}

.footer-links-title:hover {
    color: var(--gray);
}

.social-links-container {
    display: flex;
    align-items: center;
    max-width: 150px;
}

.social-links-container a {
    height: 100%;
}

.social-links-container a img {
    object-fit: scale-down;
}

.footer-extra-container {
    text-align: center;
}

.footer-company-link {
    text-decoration: none;
    color: var(--black);
}

.footer-company-name {
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

.company-name-small-space {
    font-size: 3rem;
    letter-spacing: 0.2em;
    color: var(--yellow);
}

.company-name-small-space:hover {
    transition: all 0.3s ease-out;
    color: var(--very-light-yellow);
}

.company-name-spaced {
    letter-spacing: 0;
    font-size: 0.8em;
}

.copyright-container {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spaced-container {
    padding-bottom: 6em;
}

/* Responsividade */

@media only screen and (max-width: 1199px) {
    .animated-background {
        display: none;
    }

    .top-image-animated-text {
        display: none;
    }

    .title-container {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {

    .nav-container nav {
        opacity: 100%;
        position: relative;
    }

    .nav-container nav ul {
        flex-direction: column;
        padding: 0;
    }

    .nav-container nav ul li {
        padding: 1em 0;
    }

    .nav-link-title {
        display: block;
    }

    .top-image {
        display: none;
    }
    
    .footer-top-section {
        flex-direction: column;
    }

    .social-links-container {
        max-width: 100%;
        justify-content: center;
    }
}

@media only screen and (max-width: 650px) {

    .page-title-container {
        text-align: center;
    }

    .page-title-border {
        display: none;
    }
    
    .content-card-container {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        row-gap: 2em;
        padding-bottom: 6em;
    }
}